@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

%font-regular {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

body {
    @extend %font-regular;
    color: $color-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    outline: none;
    color: $color-tertiary;
}

button {
    outline: none;
}

img {
    max-width: 100%;
}

::selection {
    background: $color-tertiary;
    color: $color-base-white;
    text-shadow: none;
}

::-moz-selection {
    background: $color-tertiary;
    color: $color-base-white;
    text-shadow: none;
}

.container {
    max-width: $global-width;
    margin: 0 auto;
    padding: 0 rem-calc(20);
}
