/**
 * Foundation SASS
 */

$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

@import "../../node_modules/foundation-sites/scss/util/util";

$global-width: rem-calc(1200);

@import "../../node_modules/foundation-sites/scss/global";

// $grid-column-gutter: (
//     small: 40px,
//     medium: 40px,
// );

// @import "../../node_modules/foundation-sites/scss/grid/grid";

@include foundation-global-styles;
// @include foundation-grid;

/**
 * Site SASS
 */

@import "settings";
@import "mixin";

@import "base";
@import "typography";
@import "modules/header";
@import "modules/footer";
@import "modules/product";
@import "modules/color";
