.color {
    width: rem-calc(20);
    height: rem-calc(20);
    border-radius: rem-calc(5);
    display: inline-block;
}

.color--blue {
    background: #5b7cd2;
}

.color--yellow {
    background: #fbc02d;
}

.color--black {
    background: #404040;
}
