.product {

}

$product__grid__item__per__row: 5 !default;
$product__grid__item__per__row__medium: 3 !default;
$product__grid__item__gutter: 1 !default;
$product__grid__item__width: 100 / $product__grid__item__per__row;
$product__grid__item__width__medium: 100 / $product__grid__item__per__row__medium;
$product__grid__item__width__primary: $product__grid__item__width * 2;

.product__grid {
    @include clearfix();
    width: rem-calc(280);
    margin: auto;

    @include breakpoint(medium up) {
        width: 100%;
    }
}

.product__grid__item {
    width: 100%;
    float: left;
    padding: 0 $product__grid__item__gutter + %;
    margin-bottom: rem-calc(40);

    @include breakpoint(medium up) {
        width: unquote($product__grid__item__width__medium + '%');

        &:nth-child(#{$product__grid__item__per__row__medium}n + 1) {
            clear: left;
        }
    }

    @include breakpoint(large up) {
        width: unquote($product__grid__item__width + '%');

        &:nth-child(#{$product__grid__item__per__row__medium}n + 1) {
            clear: none;
        }
    }

    &.is--primary {
        @include breakpoint(large up) {
            width: $product__grid__item__width__primary + %;
        }
    }
}

.product__grid__item__img {
    margin: 0 0 rem-calc(20);
}


.product__grid__item__color {
    list-style: none;
    padding: 0;
    margin: 0 0 rem-calc(5);
    text-align: center;
    position: relative;
}

.product__grid__item__color__item {
    display: inline-block;

    &.is--nav--left,
    &.is--nav-right {
        position: absolute;
        left: 0;
        top: 0;
        background: transparent;
        cursor: pointer;
    }

    &.is--nav--right {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        cursor: pointer;
    }
}

.product__text__primary,
.product__text__secondary {
    display: block;
    text-align: center;
}

.product__text__primary {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: rem-calc(14);
    margin: 0;
}

.product__text__secondary {
    font-weight: bold;
    font-size: rem-calc(16);
    padding-bottom: rem-calc(20);
    border-bottom: rem-calc(1) solid $color-secondary;
    width: 80%;
    margin: auto;
}
